modules = ["nodejs-20", "web"]
run = "npm start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm start"]

[workflows]
runButton = "Run Both Apps"

[[workflows.workflow]]
name = "Run Legal Port Client"
author = 46689232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd legal-port && npm start"

[[workflows.workflow]]
name = "Run Lawyer Portal"
author = 46689232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd legal-port-lawyer && npm i "

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd legal-port-lawyer && npm run dev"

[[workflows.workflow]]
name = "Run Both Apps"
author = 46689232
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd legal-port && npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd legal-port-lawyer && npm start"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173
