modules = ["nodejs-20", "web"]
run = "npm start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm start"]

[workflows]

[[workflows.workflow]]
name = "Run Legal Port Client"
author = 46689232
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd legal-port && npm start"
